html
	box-sizing: border-box

*,
*::after,
*::before
	box-sizing: inherit

body
	font-family: $mainFont
	font-size: 15px
	line-height: 21px

.wrapper
	max-width: 1310px
	margin: 0 auto
	@media screen and (max-width: $desktop)
		padding: 0 15px
	&_small
		max-width: 1088px

.section
	padding: 166px 0
	@media screen and (max-width: $mobile)
		padding: 80px 0
	&_gray
		background-color: $lightGray
	&_blue
		background-color: $blue
	&__head
		margin: 0
		font-size: 64px
		font-weight: 800
		line-height: 72px
		color: $gray
		@media screen and (max-width: $mobile)
			font-size: 32px
			line-height: 37px
		&_white
			color: white
	&__content
		margin-top: 108px
		@media screen and (max-width: $mobile)
			margin-top: 80px
		&_space-top-l
			margin-top: 180px
		@media screen and (max-width: $mobile)
			margin-top: 80px