.header
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center
	align-items: center
	height: 96px
	color: white
	background-color: $blue
	&__inner
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: center
		align-items: center
		width: 100%
	&__logo
		margin-right: 65px
	&__nav
		margin-right: 35px
	&__search-btn
		display: flex
		align-items: center
		border: none
		background-color: transparent
		cursor: pointer
	&__phone
		margin-left: auto
		font-size: 18px
		font-weight: 300
		color: white
		text-decoration: none
		&:hover
			text-decoration: underline
		&:focus
			outline: none
			text-decoration: underline