.distributor-item
	color: white
	line-height: 12px
	&__head
		font-size: 20px
		font-weight: 600
	&__info
		font-size: 20px
		font-weight: 300
	&__link
		font-size: 20px
		font-weight: 300
		color: white